<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!-- Root Context: defines shared resources visible to all other web components -->
	
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.njw0619.fcsdm"/>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.njw0619.fcsdm.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="dataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource"> 
		<constructor-arg ref="dataSourceSpied" /> 
		<property name="logFormatter"> 
			<bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter"> 
				<property name="loggingType" value="MULTI_LINE" /> 
				<property name="sqlPrefix" value="SQL:::" /> 
			</bean> 
		</property> 
	</bean>
	
	<bean id="dataSourceSpied" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/fcsdm?useUnicode=yes&amp;characterEncoding=utf8"/>
        <property name="username" value="njw0619"/>
        <property name="password" value="skawodn1"/>
    </bean>
		
</beans>
